<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial;
      padding: 60px;
      color: #000;
    }

    .title {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      margin-top: 40px;
    }

    .content {
      margin-top: 40px;
      font-size: 16px;
      line-height: 1.8;
      text-align: justify;
    }

    .signature {
      margin-top: 80px;
      text-align: left;
    }
  </style>
</head>

<body>

  <div class="title">INTERNSHIP COMPLETION LETTER</div>

  <div class="content">
    This is to certify that <b>{{name}}</b> (Enrollment Number: <b>{{enrollment}}</b>),
    a student of <b>{{collegename}}</b>, has successfully completed her internship in 
    <b>{{domain}}</b> at <b>V-Ex Tech Solution</b> from <b>{{startdate}}</b> to <b>{{enddate}}</b>.

    <br><br>

    During her tenure, she worked on various aspects of cyber security, including threat analysis,
    vulnerability assessment, network security, and ethical hacking techniques.

    <br><br>

    Her performance throughout the internship was commendable, and she demonstrated strong
    problem-solving skills, analytical thinking, and dedication.

    <br><br>

    We wish her all the best for future endeavors.

    <br><br>

    Date: <b>{{completiondate}}</b>
  </div>

  <div class="signature">
    Regards,<br>
    <b>Veer A.</b><br>
    Director
  </div>

</body>
</html>